[Desktop Entry]
Type=Application
Name=LXRandR autostart
Comment=Start xrandr with settings done in LXRandR
Exec=sh -c 'xrandr --output DP-1 --auto --output HDMI-1 --auto --same-as DP-1'
OnlyShowIn=LXDE
