[Unit]
Description=Panel Setup
DefaultDependencies=no
After=lightdm.service
ConditionPathExists=/usr/sbin/lightdm

[Service]
Type=oneshot
ExecStart=/usr/local/bin/panel_setup.sh
RemainAfterExit=no

[Install]
WantedBy=sysinit.target
