#
# Normal rules
#
.*
*.orig
*~
\#*#


# Git repos
/linux
/u-boot
/rootfs
/utils

# Downloads
/archives/debs/
/archives/ubuntu-base/

# Images
/images

/build
/downloads
/boot
/archives/ubuntu-mate

*.changes
/archives/epbox/
/easy_setup_target/
