[Unit]
Description=station control
DefaultDependencies=no
After=local-fs.target

[Service]
ExecStart=/usr/local/bin/edge2_station.sh

[Install]
WantedBy=multi-user.target
