[Unit]
Description=ISP Service
ConditionPathExists=/dev/video50
#Before=ipc-property.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/local/bin/iv009_isp -n 2

[Install]
WantedBy=multi-user.target
