[Unit]
Description=ADB setup helper.
DefaultDependencies=no
After=systemd-update-utmp-runlevel.service

[Service]
ExecStart=/usr/local/bin/adbd
RemainAfterExit=no

[Install]
WantedBy=sysinit.target
