# Fenix firstrun service
# Fixup GPT
# This service will run in parallel with other services

[Unit]
Description=Fenix first run tasks
Before=getty.target system-getty.slice

[Service]
Type=simple
RemainAfterExit=yes
ExecStart=/bin/bash /etc/init.d/firstrun start

[Install]
WantedBy=multi-user.target


